<h4 mat-dialog-title class="bg-secondary text-center">RELEVE DES NOTES</h4>
<mat-dialog-content class="content-main">
    <div class="content">
        <div class="dossier" *ngIf="dossier">
            <div class="row">
                <div class="col-md-4">Mme-Mlle-M.</div>
                <div class="col-md-8 font-weight-bold text-right">{{dossier.dossierName}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Né le:</div>
                <div class="col-md-8 font-weight-bold text-right">{{dossier.dossierDateNaissance}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">à:</div>
                <div class="col-md-8 font-weight-bold text-right">{{dossier.dossierLieuNaissance}}</div>
            </div>
        </div>
        <div class="releves" *ngIf="rn">
            <div class="row">
                <div class="col-md-4">Annee:</div>
                <div class="col-md-8 font-weight-bold text-right">{{rn.releveNoteAnnee}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Center:</div>
                <div class="col-md-8 font-weight-bold text-right">{{rn.releveNoteCentre}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Numéro d'inscription:</div>
                <div class="col-md-8 font-weight-bold text-right">{{rn.releveNoteNumInscription}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Série:</div>
                <div class="col-md-8 font-weight-bold text-right">{{rn.releveNoteSerie}}</div>
            </div>
        </div>
        <div class="notes">
            <table class="table-v3 table table-responsive">
                <thead>
                    <tr class="ui-grid-header">
                        <th class="ui-grid-cell-contents ui-grid-header-cell">MATIERES</th>
                        <th class="ui-grid-cell-contents ui-grid-header-cell">COEFF</th>
                        <th class="ui-grid-cell-contents ui-grid-header-cell">NOTES/20</th>
                        <th class="ui-grid-cell-contents ui-grid-header-cell">NOTES DEF</th>
                        <th class="ui-grid-cell-contents ui-grid-header-cell">MAX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes">
                        <td class="ui-grid-cell-contents">{{note.matiere.matiereName}}</td>
                        <td class="ui-grid-cell-contents">{{note.matiere.matiereCoeff}}</td>
                        <td class="ui-grid-cell-contents" id="note-col" (click)="update(note.note.noteId, note.matiere.matiereName, note.note.noteValue)"><span>{{note.note.noteValue}}</span> <span class="text-white" style="float: right;">Editer</span></td>
                        <td class="ui-grid-cell-contents">{{note.matiere.matiereCoeff * note.note.noteValue}}</td>
                        <td class="ui-grid-cell-contents">{{note.matiere.matiereCoeff * 20}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <button class="mat-raised-button mat-warn mx-2" (click)="close()">Fermer</button>
</mat-dialog-actions>