<div class="kd-bg-light fixed-top" id="navbar">
    <div class="collapse" id="content-collapse">
      <div class="p-4 container-fluid">
        <app-banniere></app-banniere>
        <ul class="nav nav-flush mb-auto text-center Open-Sans">
          <li class="nav-item">
            <a routerLink="/univFianar/selection/administrations/home" class="nav-link py-3 border-botton"><mat-icon>home</mat-icon> Accueil</a>
          </li>
          <li class="nav-item">
            <a routerLink="/univFianar/selection/administrations/utilisateurs" class="nav-link py-3 border-botton"><mat-icon>people</mat-icon> Comptes</a>
          </li>
          <li class="nav-item">
            <a routerLink="/univFianar/selection/administrations/parcours" class="nav-link py-3 border-botton"><mat-icon>shuffle</mat-icon> Parcours</a>
          </li>
          <li class="nav-item">
            <a routerLink="/univFianar/selection/administrations/sessions" class="nav-link py-3 border-botton"><mat-icon>event_available</mat-icon> Session</a>
          </li>
          <li class="nav-item">
            <a (click)="changePassword()" class="nav-link py-3 border-botton cursor-pointer">
              <mat-icon>lock</mat-icon> Securisation
            </a>
          </li>
          <li class="nav-item">
            <a (click)="deconnecter()" class="nav-link py-3 border-botton cursor-pointer"><mat-icon>settings_power</mat-icon> Deconnexion</a>
          </li>
          <li class="nav-item">
            <button id="display-alert-admin" data-bs-toggle="modal" data-bs-target="#alert-admin" style="visibility: hidden;"></button>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar kd-bg-light">
      <div class="container-fluid">
        <div>
          <button type="button" class="w3-button w3-circle kd-btn-fab" id="btn-apps" data-bs-toggle="collapse" data-bs-target="#content-collapse" aria-controls="content-collapse" aria-expanded="false" aria-label="Toggle Navigation">
            <mat-icon>apps</mat-icon>
          </button>
          <a routerLink="/univFianar/selection/administrations/home" class="navbar-brand KARNIVOR w3-display-left ml-10">ADMINISTRATION DE L'APPLICATION GESTION DE SELECTION DE DOSSIERS</a>
        </div>
        <div>
          <button type="button" class="w3-button kd-btn-user w3-display-container text-success">
            <mat-icon class="w3-display-left ms-3">person</mat-icon> <span class="w3-display-right me-4">ADMIN</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
  