<h2 mat-dialog-title class="text-warning">
    <mat-icon>lock</mat-icon> Changement de mot de passe
</h2>
<mat-dialog-content class="row" [formGroup]="form">
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label>
            <mat-icon class="text-dark">edit</mat-icon> Ancien mot de passe ***
        </mat-label>
        <input type="password" matInput formControlName="oldPassword">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label>
            <mat-icon class="text-dark">edit</mat-icon> Nouveau mot de passe
        </mat-label>
        <input type="password" matInput formControlName="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label>
            <mat-icon class="text-dark">edit</mat-icon> Confirmer ***
        </mat-label>
        <input type="password" matInput formControlName="confPassword">
    </mat-form-field>
    <br>
    <h4 class="text-danger">
        {{error}}
    </h4>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!formValid()">Enregistrer</button>
    <button class="mat-raised-button mat-warn mx-2" (click)="close()">Annuler</button>
</mat-dialog-actions>