<h2 mat-dialog-title class="text-primary"><mat-icon>update</mat-icon> Mis à jour</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label><mat-icon>edit</mat-icon> {{data.matiere}}</mat-label>
        <input type="text" formControlName="note" matInput placeholder="@Note">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions  class="justify-content-end">
    <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!formValid()">Enregistrer</button>
    <button class="mat-raised-button mat-warn mx-2" (click)="close()">Annuler</button>
</mat-dialog-actions>