<h2 mat-dialog-title class="text-primary">
    <mat-icon>person_add</mat-icon>  Mis à jour des informations
</h2>
<mat-dialog-content class="row" [formGroup]="form">
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label>
            <mat-icon class="text-dark">edit</mat-icon> Nom d'utilisateur
        </mat-label>
        <input type="text" matInput formControlName="username">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label>
            <mat-icon class="text-dark">edit</mat-icon> Nom complet
        </mat-label>
        <input type="text" matInput formControlName="fullname">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="mx-1">
        <mat-label>
            <mat-icon class="text-dark">edit</mat-icon> Email
        </mat-label>
        <input type="text" matInput formControlName="mail">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
    <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!formValid()">Enregistrer</button>
    <button class="mat-raised-button mat-warn mx-2" (click)="close()">Annuler</button>
</mat-dialog-actions>